
.titulo{
    margin-bottom: 10vh;
    text-transform: uppercase;
}
.row{
    text-align: center;
}
.preguntas{
    background-color: rgb(144, 179, 218);
    border-radius: 5px;
}
.pyr{
    border-bottom: solid 0px rgba(179, 174, 174, 0.993);
    margin-bottom: 2vh;
}
.hola{
    margin-top: 10vh;
    max-width: 70vw;
}
